.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 49.52px 96px 49px;
}


.header__links-list {
  display: flex;
  gap: 32.6px;
}

.header__links-list-item {
  list-style: circle;
  font-size: 18px;
  line-height: 21px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.adress {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.adress a {
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-size: cover;
  padding: 162px 50px 50px 50px;
}

.overlay {
  position: absolute;
  /*тут поравить с опасити*/
  background: #000000; 
  opacity: 0.6;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform :uppercase;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text {
  display: block;
  position: relative;
  z-index: 2;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}


.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18.5px;
  align-self: center;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 256px;
  height: 51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

}

.lots {
  padding: 0;
}

.about {
  padding: 35px 0 0 47px;
}

.footer {
  padding: 0 50px 82px 50px;
}
